@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Me Page";
}

<h1>Chad Yorgason</h1>

<img id="picChad" src="img/catch.jpg" />

<p>I'm way excited to learn c# this semester. I love being able to apply new skills to principles I've already learned. I want to be just as comfortable with c# as I am with python and javascript.</p>
<p>Jobs I'm interested in pursuing:</p>
<ul>
    <li>Web developer</li>
    <li>Data analyst</li>
    <li>Software developer</li>
</ul>

